<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ski Pass Purchase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Buy Ski Pass</h1>
<form th:action="@{/buySkiPass}" th:object="${buySkiPassRequest}" method="post">
    <label for="type">Type:</label>
    <select id="type" th:field="*{skiPass.type}" required>
        <option value="NORMAL">Normal</option>
        <option value="DISCOUNTED">Discounted</option>
    </select>
    <label for="duration">Duration:</label>
    <select id="duration" th:field="*{skiPass.duration}" required>
        <option value="1 hour">1 hour</option>
        <option value="2 hours">2 hours</option>
        <option value="3 hours">3 hours</option>
        <option value="5 hours">5 hours</option>
        <option value="1 day">1 day</option>
        <option value="3 days">3 days</option>
        <option value="5 days">5 days</option>
        <option value="1 week">1 week</option>
        <option value="2 weeks">2 weeks</option>
    </select>

    <p>Person First Name: <input type="text" th:field="*{person.firstName}" /></p>
    <p>Person Last Name: <input type="text" th:field="*{person.lastName}" /></p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</body>
</html>
