<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Payment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Payment</h1>
<form action="#" th:action="@{/payment}" th:object="${paymentRequest}" method="post">
    <p>Card name: <input type="text" th:field="*{paymentCard.name}" /></p>
    <p>Card valid to: <input type="text" th:field="*{paymentCard.validTo}" /></p>
    <p>Card number: <input type="text" th:field="*{paymentCard.number}" /></p>

    <p>Value: <input type="number" th:field="*{amount.value}" /></p>
    <p>Currency: <input type="text" th:field="*{amount.currency}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>